# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
/src/*.js
/src/**/*.js

# data
/data
*-ticker-list.txt

# dependencies
/node_modules
/.pnp
.pnp.js

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# local settings
.env
settings.json
etf/sp500-ticker-list.txt
